* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #190521;
    line-height: 1.6;
    min-height: 100vh;
}

.content {
    display: flex;
    justify-content: space-around;
    min-height: 100vh;
    align-items: center;
}

.mainForm {
    height: 450px;
    width: 70%;
    background-color: rgb(245, 245 ,245);
    border: 2px solid rgb(245, 245 ,245);
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.textForm {
    padding: 60px;
    padding-top: 50px;
    font-size: 15px;
}

.textForm h1 {
    font-size: 44px;
    font-family: monospace;
    font-weight: 800;
    padding: 10px;
}

.textForm p {
    font-weight: 100;
    padding: 5px;
}
 
ul {
    padding: 15px;
    padding-left: 30px;
    list-style: square outside url(icon-list.svg);
}

ul li {
    font: 1em;
    font-weight: 200;
}

form {
    margin-top: auto !important;
}

.emailInput{
    font-size: 12px;
    font-weight: 900;
    padding: 2px;
}

input {
    width: 100%;
    padding: 0.75em;
    margin: 10px 0;
    border: 1px solid rgb(221, 218, 218);
    border-radius: 8px;
}

#errorAlert {
    font-size: 10px;
    font-weight: 900;
    padding: 2px;
    float: right;
    color: rgb(233, 45, 45);
}

::placeholder {
    padding: 20px;
    font-size: 15px;
    color: rgb(221, 218, 218);
}

.textForm button {
    width: 100%;
    padding: 1em;
    background-color: #190521;
    color: rgb(245, 245 ,245);
    border: 1px solid;
    border-radius: 8px;
    cursor: pointer;
}

.textForm button:hover {
    background: rgb(233, 45, 45);
}

img {
    display: block;
    max-width: 100%;
}

.picture img {
    width: 80%;
    height: 425px;
}

.message {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*min-height: 100vh;*/
}

.popup {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(245, 245 ,245);
    border-radius: 20px;
    width: 400px;
    height: 400px;
}
/** hides the element **/
.open-popup {
    display: none;
}

.sms {
    padding: 35px;
}

.sms img {
    padding-top: 30px;
    padding-bottom: 20px;
}

.sms h1 {
    font-family: monospace;
    font-size: 35px;
    font-weight: 600;
}

.sms p {
    font-weight: 400;
}

.sms button {
    margin: 30px 0;
    width: 100%;
    height: 45px;
    background-color: #190521;
    color: rgb(245, 245 ,245);
    border: 1px solid;
    border-radius: 8px;
    cursor: pointer;
}

.sms button:hover {
    background: rgb(233, 45, 45);
}

/*******  Mobile  ******/
@media (max-width: 540px) {

    body {
        background-color: rgb(245, 245 ,245);
    }

    .content .mainForm {
        display: flex;
        flex-direction: column-reverse;
       background-color: none;
        width: 100%;
        border: none;
        border-radius: 0;
        padding-top: none;
        box-sizing: content-box;
        min-height: 148vh;
    }

    .textForm {
        padding-top: 0;
        font-size: 20px;
        padding-left: 25px;
        align-items: center;
    }

    .textForm h1 {
        font-weight: 900;
        font-family: monospace;
        font-size: 40px;
    }

    .textForm p,
    .textForm ul li  {
        font-weight: 500;
    }

    .textForm ul li {
        padding-top: 20px;
    }

    form .emailInput,
    ::placeholder {
        font-size: 0.85rem;
    }

    .message {
        background-color: #190521;    
    }
    
    input {
        width: 100%;
        height: 55px;
    } 
    
    .textForm .btn, button {
        height: 60px;
        padding: 1em;
    }
}    
